@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: rgb(255, 255, 255);
}

.wrapper {
    background: rgb(255, 255, 255);
    display: flex;
    height: 100vh;
}


/*---------------------
========SIDEBAR==========
----------------------*/

.side_bar {
    width: 250px;
    height: 210vh;
}


.side_bar .side_bar_top {
    background: #222568;
    padding: 30px;
    padding-bottom: 10px;
}

.side_bar .side_bar_top .logo {
    color: #fff;
    text-align: center;
    padding: 0 0 6px 0;
    font-family: ' Bauhaus 93' sans-serif;
    border-bottom: 1px solid #c0c0c0;
}

.side_bar .side_bar_top .profile_pic {
    display: flex;
    justify-content: center;
    margin: 30px 0 20px 0;
}

.side_bar .side_bar_top .profile_pic img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
}

.side_bar .side_bar_top .profile_info {
    text-align: center;
    color: aliceblue;
}

.side_bar .side_bar_top .profile_info h3 {
    margin-top: -10px;
}

.side_bar .side_bar_top .profile_info p {
    color: rgb(172, 172, 189);
    margin-top: 4px;
    font-size: 10px;
    font-weight: 600;
}

.side_bar .side_bar_top .profile_info p a {
    text-decoration: none;
    color: #2AEA26;
    letter-spacing: 1.5px;
}

.side_bar .side_bar_bottom {
    background: #222568;
    padding: 0px 0;
    padding-left: 15px;
}

.side_bar .side_bar_bottom ul li {
    position: relative;
    margin: 15px 0;
}

.side_bar .side_bar_bottom ul li a {
    display: block;
    color: #fff;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}

.side_bar .side_bar_bottom ul li a .icon {
    margin-right: 8px;
}

.side_bar .side_bar_bottom ul li.active a {
    background: #fff;
    color: #000;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.side_bar .side_bar_bottom ul li.active .top_curve,
.side_bar .side_bar_bottom ul li.active .bottom_curve {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px;
    background: #fff;

}

.side_bar .side_bar_bottom ul li.active .top_curve {
    top: -20px;
}

.side_bar .side_bar_bottom ul li.active .top_curve {
    bottom: -20px;
}

.side_bar .side_bar_bottom ul li.active .top_curve::before,
.side_bar .side_bar_bottom ul li.active .bottom_curve::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #222568;
    outline: none;
}

.side_bar .side_bar_bottom ul li.active .top_curve::before {
    border-bottom-right-radius: 25px;
}

.side_bar .side_bar_bottom ul li.active .bottom_curve::before {
    border-top-right-radius: 25px;

}
.navbar .btn:hover i {
  color: #222568;
}
.side_bar .side_bar_bottom ul li .sub-menu li {
  margin: 0;
}
.sub-menu {
  padding-left: 35px;
  padding-bottom: 10px;
}
.side_bar .side_bar_bottom ul li.droupdown-sidebar.active a {
  border-bottom-left-radius: 0;
}
.side_bar .side_bar_bottom ul li .sub-menu {
  background: #fff;
  border-bottom-left-radius: 25px;
}
.side_bar .side_bar_bottom ul li .sub-menu li a {
    background: transparent;border-radius: 0;
    color: #000;
}
.side_bar .side_bar_bottom ul li .sub-menu a {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
}
.sub-menu {
  transition: all .4s linear;
  display: none;
}
.side_bar .side_bar_bottom ul li.active .sub-menu {
    display: block;
}



/*---------------------
========ImG Box==========
----------------------*/
.box {
    background: #222568;
}

.img_box {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);;
    border-radius: 16px;
    padding: 30px 30px 0 30px;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #fff;
}

.img_box p {
    color: gray;
    font-size: 10px;
    padding: 10px 0;
}

.img_box button {
    color: #fff;
    background: rgb(79, 126, 255);
    width: 60px;
    padding: 6px 4px;
    border-radius: 5px;
    box-shadow: 0 3px 3px 1px black;
    border: none;
    cursor: pointer;
}

.img_box img {
    width: 150px;
    padding-top: 10px;
    align-self: flex-end;
}
.proHeader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}



/*------------------------------
========Main Conatiner==========
--------------------------------*/

.main_container {
    width: calc(100% - 250px);
    padding: 30px;
    padding-top: 18px;
}

.main_container p {
    margin-bottom: 20px;
    line-height: 22px;
}


/*---------------------
========Navbar==========
----------------------*/

.navbar {
    border-bottom: 1.5px solid silver;
}

.navbar .navbar_logo h4 {
    color: rgb(100, 0, 128);
    font-weight: 600;
    text-transform: capitalize;
}

.navbar .search_bar {
    width: 35%;
    height: 40px;
    background: red;
    border-radius: 30px;
    position: relative;
}

.navbar .search_bar .input {
    background: rgb(232, 232, 232);
    width: 100%;
    height: 40px;
    display: block;
    font-size: 14px;
    font-weight: lighter;
    outline: none;
    border: none;
    padding-left: 13px;
    border-radius: 5px;
}

.navbar .search_bar .button {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: #222568;
    color: #fff;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}


.main_container .back {
    margin-top: 20px;
    display: flex;
}

.main_container .back a {
    color: rgb(79, 0, 128);
    text-decoration: none;
    font-weight: 600;
}

.main_container .back p {
    margin: auto;
    color: #989898;
}


/*---------------------
========Desk_card=======
----------------------*/

.desk_card {
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 30px;
    margin-top: 30px;
    border-radius: 17px;
}

.userDetails .container {
    position: relative;
    display: flex;
    gap: 15px;
}

.userDetails .container .image img {
    width: 140px;
    height: 140px;
    border-radius: 17px;
}

.container .content .info {
    display: flex;
}

.container .content .info p span, .deskTitle {
    color: rgb(79, 0, 128);
    font-weight: 600;
    font-size: 24px;
}

.container .content .social_links {
    position: absolute;
    right: 20px;
}

.container .content .social_links ul {
    display: flex;
    gap: 7px;
}

.container .content .social_links ul li a {
    border: 1px solid #989898;
    padding: 5px 7px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

.container .content .social_links .fa-linkedin {
    color: blue;
}

.container .content .social_links .fa-eye {
    color: rgb(79, 0, 128);
}


.container .content .about {
    display: flex;
    gap: 60px;
    margin-top: 25px;
}

.container .content .about .lorem p {
    color: #4a4a4a;
    font-size: 10px;
    line-height: 14px;
}

.desk_card .progress .progress-bar {
    background-color: #222568;
    width: 30%;border-radius: 25px;
}


/*---------------------
========CARD==========
----------------------*/

.card {
    display: flex;
    width: 100%;
    height: 500px;
    padding: 0 13px;
    border-radius: 8px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    overflow: hidden;
}


.card .circular-progress {
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background: conic-gradient(#222568 3.6deg, #ededed 250deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 25px;
    text-align: center;
    margin: 0px auto;
margin-bottom: 10px;
}

.card .circular-progress::before {
    content: '';
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.card .circular-progress .progress-value {
    position: relative;
    font-size: 40px;
    font-weight: 800px;
    color: #222568;
}

.card .circular-progress .text {
    font-size: 30px;
    font-weight: 500px;
    color: #222568;
}


.card .card-title {
    font-weight: 600;
    text-align: start;
}


.card .card-text .skills {
    display: flex;
    text-align: center;
}

.card .card-text .skills ul {
    padding: 0px 5px;
}

.card .card-text .skills ul li {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 5px;
    margin: 10px 0 0 0;
    background-color: #222568;
    color: #fff;
    font-size: 14px;
text-align: center;
}

.card .card-text .skills .light_color {
    background: plum;
    color: #222568;
    font-weight: 600;
    border: 1px solid #222568;
    padding: 5px 10px;
}

.details .card .card-text {
    color: #4a4a4a;
    font-size: small;
    padding: 10px 25px 15px 0;
    border-bottom: 1px solid gray;
}

/*===========Details Card==========*/

.details .card {
    overflow-y: scroll;
}

.details .card::-webkit-scrollbar {
    width: 10px;
}


.details .card::-webkit-scrollbar-track {
    border-radius: 10px;
}

.details .card::-webkit-scrollbar-thumb {
    background: rgb(133, 133, 133);
    border-radius: 15px;
}
.userDetails .content .about .lorem p {
  color: #000;
  font-size: 13px;
  line-height: normal;
}


/*-------------------
=======BUTTON========
-------------------*/

.submit_btn {
    padding: 10px 0;
    border: none;
}

.submit_btn button {
    color: #222568;
    font-weight: 600;
    width: 170px;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border: none;
    padding: 14px 8px;
    margin: 0 25px;
    border-radius: 20px;
    text-align: center;
    transition: 0.4s;
}

.submit_btn button:hover {
    color: #fff;
    background: #222568;
}
.sidebar-menu {
  background: #222568 !important;
  border-radius: 50%;
  color: #fff;
  margin-left: 25px;
}
.sidebar-menu:hover i {
    color: #fff !important;
}
.side_bar {
  background: #222568;
}
.side_bar {
  position: fixed;
  height: 100%;
  z-index: 999;
  overflow: auto;
}
.scroller {
  scrollbar-color: #fff #fff;
  scrollbar-width: thin;
}

.scroller::-webkit-scrollbar {
  background: white;
  scrollbar-width: thin;height: 2px;
    width: 4px;
}

.scroller::-webkit-scrollbar-thumb {
  background: #fff;
}
.img_box {
    margin-bottom: 30px;
}
.themecolor {
    color: #222568;
}


/* ------------------Resume--------------------- */

.followBtn, .messagebtn {
  background: #222568;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  padding: 5px 25px;
  border:2px solid #222568 !important;
}
.messagebtn {
    color: #222568;
    background: #fff;
}
.followBtn:hovere {
    border-color: #222568;
    background: #fff;
    color: #222568;
}
.messagebtn:hover {
    color: #fff;
    background: #222568;
    border-color: #222568;
}
.editbtn {
  color: #222568;
  font-weight: 600;
  font-size: 20px;
}
.seemore {
    font-weight: 700;
    text-decoration: none;
}
.projectDetails p {
  font-size: 14px;
}
.projectDetails {
  background: #D9D9D9;
}
.credential-btn {
  background: #E8E5E5;
  color: #000;
  border: 1px solid #000;
  font-size: 18px;
  padding: 5px 25px;
}
.side_bar .side_bar_bottom ul li .sub-menu li a.active, .side_bar .side_bar_bottom ul li .sub-menu li a:hover {
  color: #222568;
}

/* --------Career------------ */

.block-title {
  font-size: 32px;
  font-weight: 600;
  color: #000;
  line-height: 42px;
}
.skill-input {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  border: 3px solid #FF5900 !important;
  border-radius: 16px;
  padding: 14px 15px;
  outline: none;
  box-shadow: none !important;
}
.skill-input::placeholder {
    color: #000;
}
.subinput {
  color: #000;
  font-size: 14px;
}
.blocksubt-title {
  font-size: 22px;
  color: #000;
  font-weight: 500;
}
.skillBtn {
  border: 3px solid #FF5900 !important;
  border-radius: 25px;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin-bottom: 15px;
margin-right: 15px;
background: #fff;
}
.skillBtn:hover {
    background: #FF5900;
    color: #fff;
}
.phpView {
  background: #D9D9D9;
  padding: 1px 5px;
  color: #000;
}
.assessmentbtn {
  background: #222568;
  color: #fff;
  border-radius: 0;
  font-weight: 500;
  padding: 0 10px;
}
.yourSkill .block-title {
  font-weight: 500;
  font-size: 22px;
}






@media (min-width: 992px) {
    .sidebar-menu, .mb-searchicon {
        display: none;
}
.main_container {
    margin-left: 250px;
}
}

@media (max-width: 991px) {
    .navbar .search_bar {
  display: none;
}
.side_bar {
  position: fixed;
  height: 100vh;
  z-index: 999;
  left: -250px;
  transition: all .4s linear;
  overflow: auto;
}
.main_container {
    width: 100%;
}
.sidebarOpen {
    left: 0;
}
.userDetails .container {
  width: 100%;
  max-width: 100%;
}
.container {
    max-width: 100%;
    width: 100%;
}
.submit_btn button {
    margin-bottom: 15px;
}


}

@media (max-width: 766px) {
    .userDetails .container {
  flex-wrap: wrap;
}
.userDetails .container .content .about {
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 18px;
}
.userDetails .container .content .about .lorem, .userDetails .container .content .about .lorem p {
  width: 100%;
  margin: 0;
}
.desk_card.userDetails {
  padding-left: 5px;
  padding-right: 5px;
}
.container .content .social_links ul li a {
  font-size: 0;
  display: block;
}
.container .content .social_links ul li a i {
  font-size: 14px;
}
.container .content .info p span {
  font-size: 18px;
}
.main_container p {
  font-size: 14px;
}
.userDetails .container .content .about .lorem p br {
  display: none;
}
.card .card-text .skills ul li {
  font-size: 12px;
}
.main_container {
  padding: 15px;
}
.navbar .navbar_logo h4 {
  font-size: 18px;
}
.navbar .badge button {
  display: none;
}
.navbar .badge button.mb-searchicon, .navbar .badge button.sidebar-menu {
    display: inline-block;
    margin-left: 0;
}
.img_box {
  margin-bottom: 30px;
}

}

@media (max-width: 576px) {
    .submit_btn button {
  font-size: 14px;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
}
.editbtn {
  font-size: 0;
}
.editbtn i {
  font-size: 16px;
}
.desk_card {
  padding-left: 5px;
  padding-right: 5px;
}
.yourSkill .desk_card {
  padding: 20px 15px;
}

}